<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Javascript</title>
    <style>
        h1{font-size: 48px; text-transform: uppercase; letter-spacing: 2px; text-align: center;}
        p{font-size: 24px; text-align: center;}
    </style>
</head>
<body>
<h1>
    404, we're sorry!
</h1>
<p>
    Something is wrong here
</p>
</body>
</html>